doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/angular-toastr-master/angular-toastr.min.css')
  body(ng-app="loc8rApp")
   .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About

    .container
      div(ui-view)
      //- block content

      footer
        .row
          .col-xs-12
            small &copy; Simon Holmes 2014

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/libs/angular_1.3.13/angular.min.js')
    script(src='/libs/angular-toastr-master/angular-toastr.tpls.min.js')
    script(src='/libs/momentjs_2.5.1/momentjs.min.js')
    script(src='/libs/angular-ui-router/angular-ui-router.min.js')
    script(src='/app.js')
    script(src='/home/home.controller.js')
