<div id="banner" class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>{{data.pageHeader.title}}<small>&nbsp;{{data.pageHeader.strapline}}</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="row list-group">
      <div class="col-xs-12 list-group-item" ng-repeat="loc in data.locations">
        <h4>
          <a href="/location">{{loc.name}}</a>
          <small>&nbsp;
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </small>
          <span class="badge pull-right badge-default">{{loc.distance}}</span>
        </h4>
        <p class="address">loc.address</p>
        <p>
          <span class="label label-warning" ng-repeat="facility in loc.facilities" style="margin-right: 5px">{{facility}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p class="lead">{{data.sidebar}}</p>
  </div>
</div>
